section
    .container 
        .banner 
            h1.banner-title Zack Snyder's Justice League
            .banner-info 
                span.banner-info  2021
                span.banner-info  18+
                span.banner-info  4h 2min
                span.banner-info 8.8
                img(src="", alt="").banner-info 
            p.banner-text 