// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
//Colors
$black: #000000;
$white:#fff;
$blue:rgba(50, 108, 255, 1);
$bluegradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
